lazy val root = (project in file(".")).
    settings(
        version       := "{{clientVersion}}",
        name          := "{{clientName}}",
        organization  := "{{clientOrganization}}",
        scalaVersion  := "2.11.8")

initialCommands := "import {{invokerPackage}}._; import {{apiPackage}}._; import {{modelPackage}}._"

// TODO this depends on JSON lib selection, but if we support other libs this
// can be modified.
libraryDependencies += "org.json4s" %% "json4s-native" % "3.4.0"