swagger: '2.0'

host: "plan-service.orgx.mup-prod.mup.zone"

schemes: [ http ]

info:
  version: "0.0.0"
  title: Plans Service

# GET  /plans/:id -> Synonymous with GET /plans/country/:country/name/:plan_name, just with an explicit id
# GET  /plans/name/:plan_name -> Gets a specific plan with no pricing info
# GET  /plans/country/:country/psp/:psp -> Get all plans for the given country and PSP
# GET  /plans/country/:country/name/:plan_name -> Gets a specific plan with country specific info

# POST /plans -> creates a new plan, absent of pricing info
# POST /plans/:id -> Synonymous with POST /plans/country/:country/name/:plan_name, just with an explicit id
# POST /plans/name/:plan_name -> updates an existing plan, country specific info not allowed
# POST /plans/name/:plan_name/entitlements -> updates entitlements for the given plan name
# POST /plans/country/:country/name/:plan_name -> updates country specific info for the given plan_name

# PUT  /plans/country/:country/name/:plan_name -> creates pricing and country specific info for the given plan_name (i.e. currency, amount)

paths:
  /plans:
    post:
      description: Create a new base plan (no country/pricing info)
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/BasePlan"

      responses:
        201:
          description: Indication that plan creation succeeded
          schema:
            $ref: "#/definitions/BasePlan"
        400:
          description: Indication of a bad request
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ServerError"

  /plans/{id}:
    get:
      description: Synonymous with GET /plans/country/:country/name/:plan_name, just with an explicit id
      parameters:
        - name: id
          in: path
          description: unique id of a plan for a given country
          required: true
          type: string
      responses:
        200: 
          description: Successful response
          schema:
            $ref: "#/definitions/Plan"
        404:
          description: Indication that no plan with that id exists.
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ServerError"
    post:
      description: Synonymous with POST /plans/country/:country/name/:plan_name, just with an explicit id
      parameters:
        - name: id
          in: path
          description: unique id of a plan for a given country
          required: true
          type: string

      responses:
        200:
          description: Successfully updated
          schema:
            $ref: "#/definitions/Plan"
        404:
          description: Indication that no plan with that id exists
        default:
            description: Unexpected error
            schema:
              $ref: "#/definitions/ServerError"

  /plans/name/{plan_name}:
    get:
      description: Get specificied base plan (no country specific info)
      parameters:
        - name: plan_name
          in: path
          required: true
          type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: "#/definitions/BasePlan"
        404:
          description: Indication that there is no plan with that plan_name
        default:
            description: Unexpected error
            schema:
              $ref: "#/definitions/ServerError"
    post:
      description: Update the plan with the corresponding parameters
      parameters:
        - name: plan_name
          in: path
          description: unique name of a plan
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/PlanUpdateParams"

      responses:
        200:
          description: Successful response
          schema:
            $ref: "#/definitions/Plan"
        400:
          description: Indication that there was a problem with the request
        404:
          description: Indication that there is no plan with that plan_name
        default:
            description: Unexpected error
            schema:
              $ref: "#/definitions/ServerError"

  /plans/name/{plan_name}/entitlements:
    post:
      description: Update the entitlements for a given plan
      parameters: 
        - name: plan_name
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/EntitlementUpdateParams"
      responses:
        200:
          description: Successfully updated
          schema:
            $ref: "#/definitions/BasePlan"
        400:
          description: Indication that there was a problem with the request
        404:
          description: Indication that there is no plan with that plan_name
        default:
            description: Unexpected error
            schema:
              $ref: "#/definitions/ServerError"

  /plans/country/{country}/name/{plan_name}:
    get:
      description: Get plan details including pricing, country, and PSP specific info
      parameters:
        - name: plan_name
          in: path
          description: unique name of a plan
          required: true
          type: string
        - name: country
          in: path
          description: two letter country code 
          required: true
          type: string
      responses:
        200: 
          description: Successful response
          schema:
            $ref: "#/definitions/Plan"
        404:
          description: Indication that no plan with that plan_name exists. Any country that is not specificallly supported will be defaulted to standard i18n plans.
        default:
            description: Unexpected error
            schema:
              $ref: "#/definitions/ServerError"

    post: 
      description: Update pricing, country, or PSP specific info
      parameters:
        - name: plan_name
          in: path
          description: unique name of a plan
          required: true
          type: string
        - name: country
          in: path
          description: two letter country code 
          required: true
          type: string
        - name: body
          in: body
          schema: 
            $ref: "#/definitions/PricingUpdateParams"

      responses:
        200:
          description: Indication that update succeeded
          schema:
            $ref: "#/definitions/Plan"
        400:
          description: Indication that there was a problem with the request
        404:
          description: Indication that there is no plan with that combination of plan_name and country
        default:
            description: Unexpected error
            schema:
              $ref: "#/definitions/ServerError"

    put:
      description: Create pricing and country specific info for the given plan_name (i.e. currency, amount)
      parameters:
        - name: plan_name
          in: path
          description: unique name of a plan
          required: true
          type: string
        - name: country
          in: path
          description: two letter country code 
          required: true
          type: string
        - name: body
          in: body
          schema:
            $ref: "#/definitions/PricingUpdateParams"

      responses:
        201:
          description: Indication that creation was Successful
          schema:
            $ref: "#/definitions/Plan"
        400:
          description: Indication that there was a problem with the request
        404:
          description: Indication that there was is no plan with that plan_name
        default:
            description: Unexpected error
            schema:
              $ref: "#/definitions/ServerError"

  /plans/{country}/psp/{psp}:
    get:
      description: Gets all plans that are available for the specified country
      parameters:
        - name: country
          in: path
          description: two letter country code
          required: true
          type: string
        - name: psp
          in: path
          description: the payment processor we expect to charge with ('stripe' or 'apple')
          required: true
          type: string
      responses:
        200:
          description: Successful response
          schema:
            title: List of plans
            type: array
            items:
              $ref: "#/definitions/Plan"
        404:
          description: Indication that there are no available plans for the specified country and PSP
        default:
            description: Unexpected error
            schema:
              $ref: "#/definitions/ServerError"

definitions:
  ServerError:
    required:
      - message
      - code
    properties:
      message: 
        type: string
      code:
        type: integer

  EntitlementUpdateParams:
    properties:
      member_limit:
        description: integer for number of members a plan permits. -1 for no limit
        type: integer
        format: int64
      leader_limit:
        description: integer for number of leaders a plan permits. -1 for no limit
        type: integer
        format: int64
      max_groups:
        description: integer for number of groups a plan permis. -1 for no limit
        type: integer
        format: int64

  PricingUpdateParams:
    allOf:
      - $ref: "#/definitions/PricingInfo"
      - $ref: "#/definitions/PspPlanInfo"

  PlanUpdateParams:
    properties:
      status: 
        description: String for the status of the plan. One of - available, unavailable, notForSale (??? when it is not available for sale anymore but still active ???)
        type: string
      trial_interval:
        type: integer
        format: int64
      trial_interval_unit:
        type: string
      trial_on:
        type: boolean

  Plan:
    required:
      - id
      - plan
      - pricing
      - psp_info
    properties:
      id:
        type: string
      plan:
        $ref: "#/definitions/BasePlan"
      pricing:
        $ref: "#/definitions/PricingInfo"
      psp_info:
        $ref: "#/definitions/PspPlanInfo"

  PricingInfo:
    required:
      - amount
      - currency
      - country
    properties:
      amount:
        type: integer
        format: int64
      currency:
        type: string
      country:
        type: string

  Entitlements:
    properties:
      member_limit:
        type: integer
        format: int64
      leader_limit:
        type: integer
        format: int64
      max_groups: 
        type: integer
        format: int64 

  PspPlanInfo:
    required:
      - psp
      - plan_ref
    properties:
      psp:
        type: string
        enum:
          - Apple
          - Stripe
      plan_ref:
        type: string

  BasePlan:
    required:
      - plan_name
      - display_name
      - bill_interval
      - bill_interval_unit
      - status
      - entitlements

    properties:
      plan_name: # unique name that can be used to look up a plan
        type: string
      display_name: # human readable name that can be displayed to end user 
        type: string
      bill_interval:
        type: integer
        format: int64
      bill_interval_unit:
        type: string
      trial_interval:
        type: integer
        format: int64
      trial_interval_unit:
        type: string
      status:
        type: string
      entitlements:
        $ref: "#/definitions/Entitlements"
