swagger: "2.0"

host: "dantest-service.does.not.matter"

schemes: [ https ]

info:
  version: "1.0.0"
  title: dan test service

definitions:

  TestEntity:
      description: An entity with every type of property, created here to help test out our two-way serialization testing.
      required:
        - aString
        - aBoolean
        - aDate
        - aDateTime
        - aTimestamp
        - aDouble
        - aFloat
        - anInteger
        - aLong
        - anArray
        - aMapSimple
        - aMapOfRefs
        - aReferenceToAnotherDefinition
        - aStringEnum
      properties:
        aString:
          type: string
        aBoolean:
          type: boolean
        aDate:
          type: string
          format: date
        aDateTime:
          type: string
          format: date-time
        aTimestamp:
          type: string
          format: timestamp
        aDouble:
          type: number
          format: double
        aFloat:
          type: number
          format: float
        anInteger:
          type: integer
          format: int32
        aLong:
          type: integer
          format: int64
        anArray:
          type: array
          items:
            type: string
        aMapSimple:
          type: object
          additionalProperties:
            type: string
        aMapOfRefs:
          type: object
          additionalProperties:
              $ref: '#/definitions/TestMapItem'
        aReferenceToAnotherDefinition:
          $ref: '#/definitions/TestMapItem'
        aStringEnum:
          type: string
          enum:
            - apple
            - orange
        anOptionString:
          type: string
        anOptionRef:
          $ref: '#/definitions/TestMapItem'

  TestMapItem:
    description: A thing to put in the map in TestEntity.  Both this and the TestEntity should be two-way serializable.
    required:
      - key
      - value
    properties:
      key:
        type: string
      value:
        type: string

paths:

  /mytest/url/path/{paramFoo}:
      get:
        operationId: getTestEntity
        description: Do nothing.  This is here because Swagger I think requires something in the "paths" section.
        parameters:
        - name: paramFoo
          in: path
          description: a parameter
          required: true
          type: integer
          format: int32
        responses:
            200:
              description: Successful response
              schema:
                title: test title
                $ref: "#/definitions/TestEntity"
