package {{package}}
{{#operations}}
{{#imports}}import {{import}}
{{/imports}}

trait {{classname}} {
  {{#operation}}
  /**
   * {{operationId}}{{#summary}}
   *
   * {{.}}{{/summary}}{{#notes}}
   *
   * {{.}}{{/notes}}
   *{{#allParams}}
   * @param {{paramName}} {{description}}{{/allParams}}
   */
  def {{operationId}}({{#allParams}}{{paramName}}: {{^required}}Option[{{/required}}{{dataType}}{{^required}}]{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}}): {{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}Unit{{/returnType}}

  {{/operation}}
}{{/operations}}