package {{package}}
{{#operations}}
{{#imports}}import {{import}}
{{/imports}}

trait {{classname}} {
  {{#operation}}
  /**
   * {{operationId}}{{#summary}}
   *
   * {{.}}{{/summary}}{{#notes}}
   *
   * {{.}}{{/notes}}
{{#hasParams}}
   *{{/hasParams}}{{#queryParams}}
   * @param {{paramName}} {{description}}{{/queryParams}}
   */
  def {{operationId}}({{#bodyParams}}{{paramName}}: {{^required}}Option[{{/required}}{{dataType}}{{^required}}]{{/required}}, {{/bodyParams}}{{#formParams}}{{paramName}}: {{^required}}Option[{{/required}}{{dataType}}{{^required}}]{{/required}}, {{/formParams}} {{#pathParams}}{{paramName}}: {{^required}}Option[{{/required}}{{dataType}}{{^required}}]{{/required}}, {{/pathParams}} {{#queryParams}}{{paramName}}: {{^required}}Option[{{/required}}{{dataType}}{{^required}}]{{/required}}, {{/queryParams}}): {{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}Unit{{/returnType}}

  {{/operation}}
}{{/operations}}