package {{invokerPackage}}

import io.netty.buffer.ByteBuf
import io.reactivex.netty.protocol.http.server.RequestHandler

/**
 * A minimal representation needed by the server to initiate
 * application-specific initialization and shutdown.
 */
trait Application {
  def handler: RequestHandler[ByteBuf, ByteBuf]
  def shutdown(): Unit
}
