package {{invokerPackage}}

import io.netty.buffer.ByteBuf
import io.netty.handler.codec.http.{HttpHeaderNames, HttpResponseStatus}
import io.reactivex.netty.protocol.http.server.{HttpServerRequest, HttpServerResponse, RequestHandler}

/**
 * Handler for readiness (/_ready) and liveness (TODO) checks for Kubernetes.
 *
 * Kubernetes allows a service to define readiness and liveness checks.  If an http endpoint is defined as
 * the readiness check, Kubernetes will not start directing traffic to the container until it returns an
 * http response status between 200 and 400.
 *
 * The `Runner` class allows you to override the `setInitialReadiness` method if you do not want the server
 * to immediately report that it is ready to handle traffic, in which case you can set `KubernetesHandler.ready`
 * to true when appropriate.
 */
class KubernetesHandler(handler: RequestHandler[ByteBuf, ByteBuf]) extends RequestHandler[ByteBuf, ByteBuf] {

  override def handle(
    request: HttpServerRequest[ByteBuf],
    response: HttpServerResponse[ByteBuf]) = {

    if (request.getPath.startsWith("/_ready")) {
      val message = if (KubernetesHandler.ready) {
        response.setStatus(HttpResponseStatus.OK)
        """{"ready": true}"""
      } else {
        response.setStatus(HttpResponseStatus.SERVICE_UNAVAILABLE)
        """{"ready": false}"""
      }
      val messageBytes = message.getBytes("UTF-8")
      val content: ByteBuf =
        response.getAllocator
          .buffer(messageBytes.length)
          .writeBytes(messageBytes)
      val headers = response.getHeaders
      response.setStatus(HttpResponseStatus.OK)
      headers.set(HttpHeaderNames.CONTENT_LENGTH, messageBytes.length)
      headers.set(HttpHeaderNames.CONTENT_TYPE, "application/json; charset=utf-8")
      response.writeAndFlush(content)
    } else handler.handle(request, response)
  }
}

object KubernetesHandler {
  var ready: Boolean = false
}