package {{package}}

import io.netty.buffer.ByteBuf
import io.netty.handler.codec.http.HttpResponseStatus
import io.reactivex.netty.protocol.http.server.{HttpServerRequest, HttpServerResponse, RequestHandler}
import com.meetup.server._

object {{classname}}Main extends Runner {

  def initializeApplication(environment: Map[String, String], args: Array[String]): Application =
    new Application {
      override val handler =
        new RequestHandler[ByteBuf, ByteBuf] {
          override def handle(request: HttpServerRequest[ByteBuf], response: HttpServerResponse[ByteBuf]) = {
              {{classname}}Routing.handleRequest(request, response)
          }
        }

      override def shutdown() {
        println("bye!")
      }
    }
}
