addSbtPlugin("com.eed3si9n" % "sbt-buildinfo" % "0.5.0")

addSbtPlugin("com.meetup" % "sbt-plugins" % "18.0.0")

resolvers += "Nexus" at "https://nexus.blt.meetup.com/content/repositories/releases"

credentials += Credentials(Path.userHome / ".ivy2" / ".credentials")