package {{invokerPackage}}

import io.netty.buffer.ByteBuf
import io.reactivex.netty.protocol.http.server.{HttpServerResponse, HttpServerRequest}

abstract class Router[A](api: A) {
    def handleRequest(request: HttpServerRequest[ByteBuf], response: HttpServerResponse[ByteBuf]): rx.Observable[Void]
}