new Codec[{{classname}}] {

  import org.json4s._
  import org.json4s.native.Serialization

  implicit val formats = Serialization.formats(NoTypeHints)

  def encode(a: {{classname}}): JValue = Extraction.decompose(a)

  def decode(j: JValue): Either[String, {{classname}}] =
    try {
      Right(j.extract[{{classname}}])
    } catch {
      case scala.util.control.NonFatal(e) => Left(e.getMessage)
    }

}