package {{invokerPackage}}

import org.json4s._
import org.json4s.native.JsonMethods
import org.json4s.native.JsonMethods.{compact, render}

object Parser {
  def parse(s: String): JValue = org.json4s.native.JsonMethods.parse(s)
  def deparse[A](j: JValue): String = compact(render(j))
}